body {
  background-color: #0B0C10;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.5rem;

}

.bi {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
}

.bi:hover {
  cursor: pointer;
  font-size: 1.5em;
  color: yellow;
}

.arrow {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline white;
  font-size: 1em;

}

li {
  list-style: none;
}

/* nav */
.primaryHeader {
  position: fixed;
  width: 100%;
  background-color: #fff;
  text-align: center;

}

.Headertitle {
  margin: 0 auto
}

.headerticontrol {
  color: var(--text-black);
  font-weight: 500;

}

.nav {
  z-index: 100;
  display: inline-block;
  position: fixed;
  left: 96%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 100;
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
  }
.resumenav {
  position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-family: sans-serif;
    font: 100;
    font-size: 0.87em;
    margin-right: 20px;
    margin-top: 10px;
}


/* nav */


/* Home page */
#home {
  width: 1200px;
  margin: 0 auto;
}

.Welcomepage {
  margin-top: 100px;
  display: flex;
  font-size: 100px;
  font-family: arial;
  font-weight: 600;
  justify-content: left;
  color: #66FCF1;
  margin-left: 80px;
}

.intro {
  display: flex;
  margin-left: 80px;
  position: relative;
  margin: auto;
  flex-direction: column;
  justify-content: left;
  font-size: 100px;
  font-family: arial;
  font-weight: 600;
  top: -50px;
}

.subheading {
  display: flex;
  margin-left: 80px;
  align-self: center;
  justify-content: left;
  font-weight: 400px;
  font-family: open sans;
  font-size: 5rem;
  text-decoration: none;
 
}

.subsubheading {
  margin-left: 80px;
  text-align: left;
  font-family: fascinate;
  font-weight: 600px;
  font-size: 1.0rem;
  opacity: 0.5;
  color: #66FCF1
}

.webpassion {
    margin-left: 80px;
    text-align: left;
    font-family: fascinate;
    font-weight: 600px;
    font-size: 2rem;
    opacity: 0.5;
    color: #66FCF1
}

.shortdes {
  margin-left: 80px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600px;
    font-size: 2rem;
    opacity: 0.5;
    color: #66FCF1
}

.socials {
  position: fixed;
  list-style-type: none;
  font-size: 2.0rem;
color: #fff;
}

.socialslink,
.socialslink:active,
.socialslink:focus {
  color: inherit;
}

.socialslink:hover {

  color: #66FCF1;
  font-size: 2rem;
}

.h {
  opacity: 0;
  animation: drop .4s linear forwards;

}

.e {
  opacity: 0;
  animation: drop .4s linear forwards .2s;

}

.l {
  opacity: 0;
  animation: drop .4s linear forwards .4s;

}

.l2 {
  opacity: 0;
  animation: drop .4s linear forwards .6s;

}

.o {
  opacity: 0;
  animation: drop .4s linear forwards .8s;

}

@keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }

  5% {
    opacity: .7;
  }

  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }

  65% {
    transform: translateY(-17px) scaleY(.9);
    opacity: 1;
  }

  75% {
    transform: translateY(-22px) scaleY(.9);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}



/* About me */

#aboutme {
  padding: 10%;


}

#aboutme h2 {
  font-size: 1em;
}

.about-header {
  text-align: center;
}


.aboutimg {
  width: 400px;
  height: 400px;
  display: flex;
  border-radius: 10%;
  border-style: solid;

}


.about-me-box {
  justify-content: center;
  display: flex;

}

#line,
#line:focus,
#line:active {

  text-decoration: none;
  color: white;

}

#line:hover {
  text-decoration: underline white;
}

.aboutdetails {
  font-size: 1.5rem;
  font-family: sens, sans-serif;
  width: 800px;
  margin-left: 10%;

}

#aboutme span {
  font-family: bold;
  font-size: 2rem;
}



/* SKILLS */

.spacer-about {
  height: 15vh;

}


.tools-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5% auto;
  width: 35%;
  justify-content: space-around;
  text-align: center;
}

.tools-icons i {
  display: flex;
  font-size: 6rem;
  flex-basis: 23%;
  margin: 10px;
  padding: 10px;
  justify-content: center;
}

.tools-icons i:hover {
  color: #66FCF1;
}

/* PROJECTS */

#projects h2 {
  font-size: 1em;

}
.card-container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  
}

.card-body {
  color: black;
}

.card-title {
  padding: 2 0;
  font-size: large
}

.card:hover {
  width: 16rem;
  background-color: #66FCF1;
}


/* CONTACT */

form {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  width: 400px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}


#top,
#top:focus,
#top:active {

  display: flex;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
}

#top:hover {
  font-size: 1.5rem;
}


/* home */

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1em;
  list-style-type: none;
}

.fa-xl {
  color: #fff;
  font-size: 1em;
}

.fa-xl:hover {
  cursor: pointer;

}
