:root {
  --background-color: #0B0C10;
  --text-color: #fff;
  --font-family: sans-serif;
  --font-size-normal: 1.5rem;
  --font-size-large: 1.3em;
  --font-size-hover: 1.5em;
  --primary-color: yellow;
}

/* Common styles */

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  overflow: scroll;
}

.bi {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-large);
}

.bi:hover {
  cursor: pointer;
  font-size: var(--font-size-hover);
  color: var(--primary-color);
}

.arrow {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline white;
  font-size: 1em;
}

li {
  list-style: none;
}

/* Navigation styles */

.primaryHeader {
  position: fixed;
  max-width: 100%;
  background-color: #fff;
  text-align: center;
}

.Headertitle {
  margin: 0 auto;
}

.headerticontrol {
  color: var(--text-black);
  font-weight: 500;
}

.navigationcont {
  position: relative;
  top: -30px;
  right: 0px;
  left: 10px;
}

.navigation {
  transform: rotate(90deg);
  
}

.spacer-about {
  display: block;
  width: 100px;
  height: 200px;
}

.nav {
  z-index: 100;
  display: inline-block;
  position: fixed;
  left: 96%;
  bottom: 30%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.resumenav {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 0.87em;
  margin-right: 20px;
  margin-top: 10px;
}


/* Home page */
#home {
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
 
}
.navigation {
  font-size: medium;
}
.fa-xl:active {
  transform: scale(0.8);
}

.Welcomepage {
  margin-top: 100px;
  display: flex;
  font-size: 100px;
  font-family: arial;
  font-weight: 600;
  justify-content: left;
  color: #66FCF1;
  margin-left: 80px;
}

.intro {
  display: flex;
  margin-left: 80px;
  position: relative;
  margin: auto;
  flex-direction: column;
  justify-content: left;
  font-size: 100px;
  font-family: arial;
  font-weight: 600;
  top: -50px;
}

.subheading {
  z-index: 1;
  display: flex;
  margin-left: 80px;
  align-self: center;
  justify-content: left;
  font-weight: 400px;
  font-family: open sans;
  font-size: 5rem;
  text-decoration: none;
  max-width: 300px;
}

.subsubheading {
  z-index: 1;
  margin-left: 80px;
  text-align: left;
  font-family: fascinate;
  font-weight: 600px;
  font-size: 1.0rem;
  opacity: 0.5;
  color: #66FCF1;
  
}

.webpassion {
  z-index: 1;
  margin-left: 80px;
  text-align: left;
  font-family: fascinate;
  font-weight: 600px;
  font-size: 2rem;
  opacity: 0.5;
  color: #66FCF1;
  
}

.shortdes {
  z-index: 1;
  margin-left: 80px;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, var(--font-family);
  font-weight: 600;
  font-size: 2rem;
  opacity: 0.5;
  color: #66FCF1;
}

.socials {
  position: fixed;
  list-style-type: none;
  bottom: 10%;
  left: 5%;
  font-size: 2.0rem;
  color: #fff;
}

.socialslink {
  color: white;
  font-size: 1em;
  transition: 0.2s all;
}

.socialslink:hover {
  color: #66FCF1;
  /* Use a different property to test */
  transform: scale(0.4);
  box-shadow: 0 0 5px black;
}

.h {
  opacity: 0;
  animation: drop .4s linear forwards;
}

.e {
  opacity: 0;
  animation: drop .4s linear forwards .2s;
}

.l {
  opacity: 0;
  animation: drop .4s linear forwards .4s;
}

.l2 {
  opacity: 0;
  animation: drop .4s linear forwards .6s;
}

.o {
  opacity: 0;
  animation: drop .4s linear forwards .8s;
}

@keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }

  5% {
    opacity: .7;
  }

  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }

  65% {
    transform: translateY(-17px) scaleY(.9);
    opacity: 1;
  }

  75% {
    transform: translateY(-22px) scaleY(.9);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

.Programminglangs {
  font-size: 1.5em;
  position: relative;
  left: 80px;
  display: flex;
  justify-content: flex-start;
  gap:20px;
  
}
.iconstyle {
  box-shadow: 2px 2px 4px #66FCF1;
}

/* About me */
#aboutme {
  padding: 10%;
}

#aboutme h2 {
  font-size: 1em;
}

.about-header {
  text-align: center;
}

.aboutimg {
  max-width: 400px;
  max-height: 400px;
  display: flex;
  border-radius: 10%;
  border-style: solid;
}

.about-me-box {
  justify-content: center;
  display: flex;
}

#line,
#line:focus,
#line:active {
  text-decoration: none;
  color: white;
}

#line:hover {
  text-decoration: underline white;
}

.aboutdetails {
  font-size: 1.5rem;
  font-family: sens, var(--font-family);
  max-width:800px;
  margin-left: 10%;

}

#aboutme span {
  font-family: bold;
  font-size: 2rem;
}

/* SKILLS */
.spacer-about {
  height: 15vh;
}

.tools-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5% auto;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

.tools-icons i {
  display: flex;
  font-size: 6rem;
  flex-basis: 23%;
  margin: 10px;
  padding: 10px;
  justify-content: center;
}

.tools-icons i:hover {
  color: #66FCF1;
}

/* PROJECTS */

#Projects h2 {
  font-size: 1em;
  text-decoration: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  gap: 20px;
  margin: 0 auto;
}

.card {
  flex: 1 0 16rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.card h3 {
  font-size: 1.2em;
  margin-top: 12px;
  margin-bottom: 8px;
}

.card p {
  font-size: 0.9em;
  color: #555555;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* CONTACT */
form {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  width: 400px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

#top,
#top:focus,
#top:active {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
}

#top:hover {
  font-size: 1.5rem;
}

/* home */
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1em;
  list-style-type: none;
}

.fa-xl {
  transition: 0.2s all;
  color: #fff;
  font-size: 1em;
  z-index: 100;
}

.fa-xl:hover {
  cursor: pointer;
  z-index: 100;
  
}

/* Contact form*/

.contact-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-heading {
  text-align: center;
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
}

.success-message {
  display: none;
  margin-top: 20px;
  padding: 10px;
  color:black;
  background-color: #e6f7e9;
  border: 1px solid #e6f7e9;
  border-radius: 4px;
}

.success-message.visible {
  display: block;
}
@media (max-width: 750px) {
  .about-me-box {
    display: flex;
    flex-direction: column;
  }

  .primaryHeader {
    position: fixed;
    width: 100%;
    background-color: #fff;
    text-align: center;
  }

  .Headertitle {
    margin: 0 auto;
  }

  .headerticontrol {
    color: var(--text-black);
    font-weight: 500;
  }

  .navigationcont {
    position: relative;
    top: -50px;
    z-index: 100;
  }

  .navigation {
    transform: rotate(90deg);
    
  }

  .spacer-about {
    display: block;
    width: 100px;
    height: 200px;
  }

  .nav {
    display: inline-block;
    position: fixed;
    left: 90%;
    bottom: 40%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 100;
    padding-left: 5%;
  }

  .aboutimg {
    width: 350px;
    max-height: 400px;
    display: flex;
    border-radius: 10%;
    border-style: solid;
  }

  .subheading {
    display: flex;
    margin-left: 80px;
    align-self: center;
    justify-content: left;
    font-weight: 400px;
    font-family: open sans;
    font-size: 2.5rem;
    text-decoration: none;
    max-width: 300px;
  }

  .socials {
    position: fixed;
    bottom: 10%;
    left: -20px;
    list-style-type: none;
    font-size: 2.0rem;
    color: #fff;
  }

  .socials:focus {
    scale: 0.8;
  }
}

@media (max-width: 1000px) {
  
.about-me-box {
    display: flex;
    flex-direction: column;
  }

  .primaryHeader {
    position: fixed;
    width: 100%;
    background-color: #fff;
    text-align: center;
  }

  .Headertitle {
    margin: 0 auto;
  }

  .headerticontrol {
    color: var(--text-black);
    font-weight: 500;
  }

  .navigationcont {
    position: relative;
    top: -50px;
  }

  .navigation {
    transform: rotate(90deg);
  }

  .spacer-about {
    display: block;
    width: 100px;
    height: 200px;
  }

  .nav {
    display: inline-block;
    position: fixed;
    left: 90%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 100;
  }



  .aboutimg {
    width: 350px;
    max-height: 400px;
    display: flex;
    border-radius: 10%;
    border-style: solid;
  }

  .subheading {
    display: flex;
    margin-left: 80px;
    align-self: center;
    justify-content: left;
    font-weight: 400px;
    font-family: open sans;
    font-size: 2.0rem;
    text-decoration: none;
    max-width: 300px;
  }


}

@media (max-width: 1500px) {
  .about-me-box {
    display: flex;
    flex-direction: column;
  }

  .primaryHeader {
    position: fixed;
    width: 100%;
    background-color: #fff;
    text-align: center;
  }

  .Headertitle {
    margin: 0 auto;
  }

  .headerticontrol {
    color: var(--text-black);
    font-weight: 500;
  }

  .navigationcont {
    position: relative;
    top: -50px;
  }

  .navigation {
    transform: rotate(90deg);
  }

  .spacer-about {
    display: block;
    width: 100px;
    height: 200px;
  }

  .nav {
    display: inline-block;
    position: fixed;
    left: 87%;
    bottom: 25%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 100;
  }



  .aboutimg {
    width: 350px;
    max-height: 400px;
    display: flex;
    border-radius: 10%;
    border-style: solid;
  }

  .subheading {
    display: flex;
    margin-left: 80px;
    align-self: center;
    justify-content: left;
    font-weight: 400px;
    font-family: open sans;
    font-size: 2.0rem;
    text-decoration: none;
    max-width: 300px;
  }


}